
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

#emailContainer {
    max-width: 700px;
    /* height: 90vh; */
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.emailHeader {
    background-color: #f7f7f7;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

select {
    text-align: center;
}

.emailHeader p {
    margin: 6px 0;
    font-size: 14px;
    color: #333;
}

.caption {
    margin-right: 10px;
    width: 200px;
}

.emailContent {
    padding: 20px;
}

#couponContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.couponProto {
    background: #fff;
    border: 2px dashed #555;
    padding: 30px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    background-image: url(./apparealImgOpacity25.jpg);
}

.couponProto::before,
.couponProto::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #f3f3f3;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.couponProto::before {
    left: -10px;
}

.couponProto::after {
    right: -10px;
}

.couponProto h1 {
    color: #e91e63;
    font-size: 2em;
    margin: 0;
    text-align: center;
}

.couponProto h2 {
    color: #333;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
}

.couponProto p {
    text-align: center;
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

.code {
    background: #e91e63;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.1em;
}

.footer {
    text-align: center;
    font-size: 0.85em;
    color: #888;
    margin-top: 15px;
}

.emailFooter {
    background-color: #f9f9f9;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    color: #888;
    border-top: 1px solid #ddd;
}